[submodule "src/submodules/webpack"]
	path = src/submodules/webpack
	url = https://github.com/CyberDex/webpack-typescript-boilerplate.git
[submodule "src/submodules/Pixil"]
	path = src/submodules/Pixil
	url = https://github.com/CyberDex/pixil.git
